.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.dropdown{ 
  padding: 8px 16px;
  width: 250px;
  margin-top: 20px;
  cursor: pointer;
  border-left: 4px solid #739cda;
  background: #fff;
  font-weight: bold;
}

.card{
  margin: auto;
  margin-top:70px;
  width: 400px; 
  padding: 30px 80px 50px 80px;
}



.item{
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 5px;
}


.submitBtn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 4px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: white;
  font-size: 16px;
  width: 150px;
  position: relative;
}



.tab {
  width: 800px;
 margin-left: 500px;
 margin-top:100px;
}

.ui.card.userCard {
  display : inline-block;
  margin-left: 20px;
  font-size: 15px;
  width: 365px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* .ui.inverted.segment{
  margin-top: 15px;
} */

.ui.card.leaderboard{
  margin-left:600px;
  font-size:18px;
  width:400px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.ui.left.corner.label{
  left: -19px;
  top: -20px;
  background-color:teal;
  color : teal;
}
.tab .ui.tabular.menu .item {
  flex: 1 1 auto;
  background: none #f6f6f6;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top-width: 1px;
  border-color: #d4d4d5;
  
}
.tab .ui.tabular.menu .active.item {
  background: none #fff;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
